.formacao {
    background-color: #1f1f1f;
    color: #fff;
}
.formacao-container {
    max-width: 1200px;
    padding: 120px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    position: relative;
    }

.formacao-container::after {
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url(./IMG/detahes.svg) no-repeat center;
    position: absolute;
    bottom: -50px;
    left: 20px;
}

.formacao .subtitulo {
    color: #000;
    max-width: 5ch;
    }

    .formacao-texto {
        font-size: 1.5rem;
        line-height: 1.75rem;
        max-width: 40ch;
        margin-bottom: 60px;
        color: #a3a3a3;
    }

    .formacao-texto strong {
        color: #fff;
    }
     
    .faculdade-lista {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 60px;        
    }

    .faculdade {
        flex: 1;
        background-color: #000;
        padding: 20px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
    }

    .faculdade-tipo {
        font-size: 0.875rem;
        text-transform: uppercase;
        color:#a3a3a3;
        margin-bottom: 10px;
    }

    .faculdade-curso {
        flex: 1;
        font-size: 1.125rem;
        line-height: 1.4rem;
        margin-bottom: 40px;
        position: relative;
    }

    .faculdade-curso::before {
        content:"";
        display: block;
        width: 5px;
        height: 16px;
        background: linear-gradient(#16ACDB, #0847c3); 
        position: absolute;
        left: -25px;
    }

    .faculdade-instituicao {
        font-size: 1.125rem;
        color: #a3a3a3;
    }

    .cursos {
        margin-bottom: 60px;
    }

    .formacao-extra h3 {
        font-size: 1.25rem;
        line-height: 1.4;
        color: #8f8f8f;
        text-transform: uppercase;
        margin-top: 30px;
        position: relative;
    }

    .formacao-extra h3::before {
        display: block;
        content: "";
        width: 24px;
        height: 24px;
        position: absolute;
        left: -36px;
        top: 0px;
        
    }

    .cursos h3::before {
         background: url(IMG/cursos.svg) no-repeat center; 
    }
    .idiomas h3::before {
        background: url(IMG/idiomas.svg) no-repeat center;
    }

    .formacao-extra li {
        font-size: 1rem;
        line-height: 1.1rem;
        margin-bottom: 20px;
    }

    .formacao-extra span {
        color: #8f8f8f;
    }

    .cursos li {
        display: flex;
        justify-content: space-between;

    }
    @media (max-width: 800px) {
        .formacao-container {
            padding: 60px 20px;
            gap: 40px;
            grid-template-columns: 1fr;
        }
        .formacao .subtitulo {
            color: #ffffff;
        }
        .formacao-texto {
            font-size: 1.25rem;
        }  
        .formacao-extra h3::before {
            position: initial;
        }
    }

    @media (max-width: 400px) {
        .formacao-extra {
            font-size: 1rem;
        }
    }
    @media (max-width: 430px) {
        .formacao-container::after {
            width: 130px;
            height: 40px;
            bottom: -20px;
            border-radius: 4px;
        }
    }